# Nuxt dev/build outputs
app/output
app/data
app/nuxt
app/nitro
app/cache
app/dist

# Next.js



# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
web/.env
web/.env.*
web/.env.example
web/.next



# service
service/.env

service/logs/
*.log
*.log.*
service/logs/*.log

.cursorrules




